h1, h2{
    color: gold;
}
body{
 line-height: 1.5;
 font-family: Helvetica, sans-serif, Arial;
 color: #444;
 width: 60%;
 margin: 0 auto;
 padding: 2% 0;
 background-color: grey;
}
main{
    background-color: white;
    border-radius: 10px;
    padding: 2%;
}
section{
    margin-top: 0px;
    padding-bottom: 5px;
    border-top: solid 1px gray
}
nav{
    background-color: gold;
    font-family: Helvetica, sans-serif, Arial;
    color: azure;
    border-radius: 5px;
    display: inline-flex;
    margin-right: auto;
    padding: 2px;
}
#button{
    color: white;
    background-color:gold;
    padding: 2px;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}