.header{
    padding: 25px;
    margin: 0;
}
#tituloPage{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
body {
    line-height: 1.5;
    font-family: Helvetica, sans-serif, Arial;
    color: #444;
    margin: 0 auto;
    padding: 10px 0;
    background-color:rgb(157, 153, 255);
}
main{
    background-color: white;
    padding: 5%;
    width: 60%;
    margin: 0 auto;
}
form{
    display: flex;
    flex-direction: column;
    margin: 5px 0;
}
nav{
    position: sticky;
    top: 0;
}
nav ul {
    position: static;
    margin: 0;
    list-style-type: none;
    padding: 10px;
    background-color: #6461ff;
    text-align: center;
}
nav ul li {
    display: inline-block;
    margin-right: 20px;
}
nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    background-color: #6461ff;
}
nav ul li a:hover {
    background-color: #ccc;
}

fieldset{
    color: gold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-color: gold;
    border: 3px solid;
}
#img{
    box-shadow: 5px 5px 10px grey;
    border-radius: 10px;
    margin: 10px;
}
footer {
    position: static;
    color: white;
    background-color: #6461ff;
    text-align: center;
    padding: 10px;
    font-style: italic;
}
input{
    color: black;
    display: block;
    padding: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
}
#sexo{
    color: darkgoldenrod;
    display: flex;
    padding: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
}

.ValidoInvalido:valid{
    border: 2px solid seagreen;
}
.ValidoInvalido:invalid{
    border: 2px solid red;
}
span{
    position: relative;
}
.ValidoInvalido:valid+span::before{
    content: '✓';
    color: seagreen;
}
.ValidoInvalido:invalid+span::before{
    content: '✖';
    color: red;
}
.ValidoInvalido+span::before{
    position: absolute;
    top: -44px;
    left: 155px;
}
input:first-child{
    border: 3px solid yellow;
}
input:focus{
    box-shadow: 0 0 10px #6461ff;   
    outline: none;
}
#estadoCivil:first-of-type{
    border: 3px solid blue;
    border-radius: 5px;
}
.buttonFinalizar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 0;
    font-weight: bold;
    color: white;
    background-color: #6461ff;
}
h2, p{
    font-weight: bold;
    font-style: italic;
    color: #333;
}
form:has(input:invalid){
    background-color: darkred;
    border-radius: 10px;
}
:is(textarea):focus{
    outline: none;
    border:3px solid blue;
    border-radius: 5px;
}